<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UsuariosAlmacen.My.MySettings.db_vdaConnectionString"
            connectionString="Data Source=EXTMET-SQL-SRV,1433;Initial Catalog=db-vda;Persist Security Info=True;User ID=pmejia;Password=EXT3H$lTe8seiv;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>